body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('./masteryoda.jpg');
  border: 2px solid black;
  padding: 25px;
  margin: 20px;
  background-repeat: no-repeat;
  background-size: cover;
}

:root {
  --helveticaFamily: 'Helvetica', sans-serif;
}

.App {
  text-align: center;
}
.Header {
  color: white;
  font-family: var(--helveticaFamily);
  font-size: 4rem;
}

.CardClass {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}