body {
  margin: 0 auto;
  padding: 0 auto;
  font-family: Helvetica, sans-serif;
  background-image: url('./masteryoda.jpg');
  border: 50px solid white;
  background-repeat: no-repeat;
  background-size: cover;
}

:root {
  --helveticaFamily: 'Helvetica', sans-serif;
}

.App {
  text-align: center;
}
.Header {
margin: auto;
}

.CardClass {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}